.bill-title {
  margin-left: 40%;
  font-size: 2rem;
  font-weight: 700;
  color: #888;
  padding-bottom: 10px;
}

.billcontent {
  border: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-top: 10px;
}
.billcontent-name {
  word-wrap: break-word;
  width: 500px;
  color: #666;
}
.billcontent-status {
  color: red;
}
/* ADMIN BILL */
.bill-list-table {
  padding: 10px 10px;
}

.bill-list-table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.bill-list-table table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 25px;
}
.bill-list-table table td,
.bill-list-table table th {
  border: 1px solid white;
  padding: 8px;
  width: 25%;
}
.bill-list-table table td {
  background-color: #ddd;
}

.bill-list-table table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.bill-list-table table tbody tr:hover td {
  background-color: wheat;
  cursor: default;
}

.bill-list-detail {
  font-family: Arial, Helvetica, sans-serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; */ /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
.bill-list-detail form {
  margin: 5% auto 5% auto;
  width: 55%;
  height: 85%;
  border-radius: 2px;
  padding: 10px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.bill-list-detail-content div:nth-child(5) {
  overflow-y: scroll;
  word-wrap: break-word;
}

/* .bill-list-detail form::after {
  content: '';
  position: absolute;
  background-color: rgba(255,255,255,.6);
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
  margin: 2% auto 2% auto;
  width: 55%;
  height: 85%;
  border-radius: 50px;  
} */
.bill-list-detail-header {
  height: 10%;
  padding: 0px 25px 0px 20px;
}
.bill-list-detail-header h2 {
  height: 100%;
  font-size: 34px;
  text-align: center;
  width: 100%;
  margin-left: 30px;
}
.bill-list-detail-content {
  height: 90%;
  display: flex;
  flex-direction: column;
}
.bill-list-detail-content div {
  height: 14.2%;
  font-size: 2.5rem;
  padding: 15px;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
}

.bill-list-detail-content div:nth-child(1) {
  border-top: 1px solid #666;
}
.bill-list-detail-content div span {
  font-size: 2.5rem;
  color: darkgreen;
  padding: 0 10px;
  font-weight: 600;
}
.bill-list-detail-content div:last-child {
  display: flex;
  flex-direction: row;
}
.bill-list-detail-content div:last-child p {
  padding: 2px;
}
.bill-list-detail-content div:last-child label {
  position: absolute;
  right: 40%;
  bottom: 0;
}
.bill-list-detail-content div:nth-child(7) {
  position: relative;
}
