@import url("reset.css");
@import url("fontawesome.css");
@import url("global.css");
@import url("header.css");
@import url("slider.css");
@import url("content.css");
@import url("banner.css");
@import url("introduce.css");
@import url("new.css");
@import url("contact.css");
@import url("product.css");
@import url("footer.css");
@import url("login.css");
@import url("register.css");
@import url("modal.css");
@import url("page.css");
@import url("cart.css");
@import url("bill.css");

/* Sau khi đăng nhập */
.loginsuccess-wrapper {
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 0 0 10px #cccccc;
  width: 600px;
  display: flex;
  display: none;
}
.left {
  width: 30%;
}
.right {
  padding: 0 20px;
}
.logout-group {
  display: flex;
  padding-top: 10px;
  margin-left: 20px;
}
.dangxuat {
  margin-left: 5px;
  cursor: pointer;
}
#icon-logout-item {
  color: #888;
}
.right-group {
  padding: 9px 10px;
}
.right-group-title {
  margin-left: 80px;
}
.hoten {
  font-weight: 600;
  padding-right: 5px;
}
.Email {
  font-weight: 600;
  padding-right: 5px;
}
.sdt {
  font-weight: 600;
  padding-right: 5px;
}
.matkhau {
  font-weight: 600;
  padding-right: 5px;
}
.date {
  font-weight: 600;
  padding-right: 5px;
}
.logout-group:hover #icon-logout-item {
  color: red;
}
.logout-group:hover .dangxuat {
  color: red;
}

/* switch button */
.switch {
  position: absolute;
  display: inline-block;
  width: 90px;
  height: 51px;
}
.switch input {
  /* opacity: 0; */
  width: 20px;
  height: 20px;
  margin-left: 85px;
}
.close {
  float: right;
  color: black;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* trang chủ */
.image-header img {
  /* background: rgba(0, 0, 0, 0.9) url(/images/nike.png); */
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mota {
  position: absolute;
  background-color: rgba(108, 171, 248, 0.5);
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px;
  bottom: -80px;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.mota h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.content-item:hover .mota {
  bottom: 0;
  opacity: 1;
}
.mota p:last-child {
  color: red;
  font-weight: 500;
}
