:root {
  --primary-color: ;
  --secondary-color: ;
  --third-color: #120414;
  --title-color: ;
  --text-color: #999999;
  --gray-color: #f8f8f8;
  --gray-dark-color: #cccccc;
  --gray-light-color: #f5f5f5;
  --line-color: #e5e5e5;
  --primary-font: ;
  --secondary-font: ;
  --wrapper: ;
  --container: ;
  --primary-color: #3f3fdb;
}
